:root {
  --attention-bg-color: #FFE6E6;
  --attention-color: #FF6666;
  --emph-bg-color: darkblue;
  --emph-color: #ffff00;
  --light-bg-color: #D7DAF8;
  --light-color: #35415b;
  --primary-bg-color: #c3d1dc;
  --primary-color: red;
  --rad-color-1: #3399FF;
  --rad-color-2: #33FF33;
  --dark-bg-color: white;
  --secondary-color: #71F44E;
  --dark-color: black;
}
/** generic **/
body {
  font-size: 18px;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.uppercase {
  text-transform: uppercase;
}
main#v2 {
  width: 60vw;
  color: var(--dark-color);
  margin: auto;
}
/**#v2 table th.text-center, #v2 table td.text-center {
  text-align: center;
}**/
/** article > header **/
#v2 article header span {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  padding: 0 0.4em 0 0.4em;
  font-size: 1.2rem;
  font-weight: bold;
}
#v2 header {
  padding: 0.6em 0.2em 0.4em 0.2em;
  line-height: 2rem;
  display:flex;
  align-items: baseline;
  justify-content: center;
}
#v2 header h1, #v2 header h2, #v2 header h3 {
  color: var(--primary-color);
}
/** header > figure.sponsored **/
header figure.sponsored {
  margin: 0;
  padding: 10px 40px 10px 40px;
}
figure.sponsored {
  color: var(--light-color);
}
figure.sponsored video {
  border: 1px solid var(--light-color);
  max-width: 100%;
}
figure.sponsored figcaption { 
  font-size: 0.6rem;
}
#v2 .gallery {
  display: flex;
  flex-direction: column;
}
#v2 .gallery .row {
  max-height: 50vh;
  display: block;
  overflow: hidden;
}
@media (max-width: 468px) {
  #v2 .gallery .row {
    display: flex;
    flex-direction: column;
    max-height: none;
  }
}
#v2 td.gallery {
  margin:0;
  padding:0;
}
#v2 .gallery img {
  opacity:0.9;
}

#v2 .gallery img.square {
  max-width: calc(100% * 0.4286312265);
}
#v2 .gallery img.landscape {
  max-width: calc(100% * 0.5713687735);
}
@media (max-width: 468px) {
  #v2 .gallery img.square, #v2 .gallery img.landscape {
    max-width: 100%;
  }
}
@media (max-width: 468px) {
  header figure.sponsored  {
    padding: 0;
  }
  #v2 section {
    flex-direction: column;
  }
  main#v2 {
    width: 100vw;
    margin: 0;
  }
  /flex
}
/** section > table **/
#v2 section, #v2 section aside {
  display: flex;
}
#v2 main {
  background-color: var(--dark-bg-color);
}
#v2 section aside {
  background-color: var(--primary-bg-color);
  border: 1px solid var(--light-color);
}
#v2 section table, #v2 footer table {
  background-color: var(--light-bg-color);
  font-size: 12px;
  border: 0;
  margin: auto;
  border-collapse: collapse;
}
#v2 section table th {
  background-color: var(--rad-color-2);
  border-color: var(--light-color);
  color: var(--light-color);
  border-width: 1px;
  border-style: solid;
  font-weight: bold;
}
#v2 section table td, #v2 section table th {
  padding: 4px;
}
#v2 section table th, #v2 footer table th {
  text-align: start;
}
@media (max-width: 468px) {
  #v2 footer table td.text-center {
    text-align: start;
  }
}
#v2 section table td {
  border-color: var(--dark-color);
  border-width: 1px;
  border-style: solid;
}
/** table **/
#v2 table tbody td.store {
  background-color: var(--dark-bg-color);
}
#v2 table tbody th.store {
  background-color: var(--attention-color);
  text-align: center;
}
#v2 table tbody td.store a {
  display: block;
  min-height: 2rem;
  min-width: 7rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#v2 table tbody td.price {
  font-weight: bold;
  font-size: 14px;
  color: var(--light-color);
  text-align: center;
}
#v2 table tbody td.price.gbp, #v2 table tbody th.gbp {
  background-color: var(--rad-color-1);
  text-align: center;
}
#v2 table tbody td.price.eur, #v2 table tbody th.eur {
  background-color: var(--rad-color-2);
  text-align: center;
}
#v2 .listenmp3  {
  width:4rem;
  height:4rem;
  background-color: var(--primary-color);
  display:block;
  mask:url('images/Dft8K.gif') top left / cover;
}
/* table moreinfo */
#v2 section table.moreinfo {
  width: 100%;
}
#v2 section table.moreinfo, #v2 section table.moreinfo tbody tr {
  display: flex;
  flex-direction: column;
}

#v2 section table.moreinfo th {
  background-color: var(--attention-color);
  line-height: 1.6rem;
}
#v2 section table.moreinfo td {
  background-color: var(--attention-bg-color);
  vertical-align: top;
}
#v2 footer table tbody {
  font-size: 0.66rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
}
#v2 footer table tr {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  #v2 footer table tbody {
    flex-direction: column;
  }
  #v2 footer table tr {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  #v2 footer table th, #v2 footer table td {
    display: inline-block;
  }
  #v2 footer table tbody th {
    min-width:20%;
    text-align: start;
    min-height: auto;
  }
  #v2 footer table tbody td {
    display: block;
    width: 100%;
    min-height: auto;
  }
  #v2 footer table td, #v2 footer table th {
    height: auto;
    min-height: auto;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-bottom: 0;
    padding-top: 0;
    min-width: 6rem;
  }
}
#v2 footer table th {
}
#v2 footer table td {
  min-height: 4rem
}
#v2 footer table td, #v2 footer table th {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  line-height: 0.7rem;
}
/**
#v2 footer table th {
  height: 3rem;
}
#v2 footer table td {
  min-height: 5rem;
}**/

#v2 footer table td {
  background-color: var(--light-bg-color);
  border: var(--light-color) solid 1px;
}
#v2 footer table th {
  background-color: var(--emph-bg-color);
  color: yellow;
  text-align: center;
  color: var(--emph-color);
  border: var(--light-color) solid 1px;
  font-weight: bold;
  min-height: 2rem;
}
#v2 footer h4 {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  color: var(--primary-color);
}
